.cal-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  width:200px;
  height: 200px;
  display: flex;
  background-color: aqua;
  justify-content: center;
}
input[type='button']{
  padding: 6px;
  margin: 2px;
  cursor: pointer;
}
input[type='text']{
  background-color: black;
  color: white;
  font-weight: bold;
}
